<div class="email-content-body">


  <h1 class="email-content-title">Edit Post</h1>
    <form action="/editpost" method="post" class="pure-form">
     <fieldset class="newpost">
    <input type='text' name='newSubject' value='{{thePost.subject}}'><br/>
    <input type='text' name='newBody' class="newpost" value='{{thePost.body}}' size="30000"><br/>
    <input type='hidden' name='newUsername' value={{{user.local.email}}}>
    <input type='hidden' name='postID' value={{{thePost._id}}}>


    <button type='submit' class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>

</div>
