


<div class="email-content-body">



<p>

{{#if loggedIn}}
You Successfully logged in.
{{/if}}

{{#if failedLogIn}}
Sorry that is wrong
{{/if}}
</p>

<h1 class="email-content-title">Log In</h1>
<form action="/login" method="post" class="pure-form">
 <fieldset>
<input type='text' name='email' placeholder='enter your email'><br/>
<input type='text' name='password' placeholder='enter your password'><br/>

<button type='submit' class="pure-button pure-button-primary">Submit</button>
</fieldset>
</form>

<h1 class="email-content-title">Sign Up</h1>
<form action="/signup" method="post" class="pure-form">
 <fieldset>
<input type='text' name='email' placeholder='enter your email'><br/>
<input type='text' name='password' placeholder='enter your password'><br/>

<button type='submit' class="pure-button pure-button-primary">Submit</button>
</fieldset>
</form>

  </div>
</div> <!-- end main-->
