<!DOCTYPE html>
<html lang="en">
  <head>
    <!--CSS http://purecss.io/layouts/ -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
    <link rel="stylesheet" href="../public/css/layouts/email.css">
    <title>{{title}}</title>
  </head>

  <body>


<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" class="nav-menu-button">Menu</a>

        <div class="nav-inner">

          <form action="/search" method="post" class="pure-form">
            <input type="text" name='search' placeholder='search'>
            <button type='submit' style="position: absolute; left: -9999px; width: 1px; height: 1px;" class="pure-button pure-button-primary">Submit</button>
          </form>
        {{#if loggedIn}}
        <div class="pure-menu pure-menu-open">Logged in as {{{ u }}}</div>
        {{else}}
        <div class="pure-menu pure-menu-open"><a href="/login">Please log in.</a></div>
        {{/if}}

            <form action="newpost">
            <button class="primary-button pure-button" type="submit" >New Post</button>
            </form>
            <div class="pure-menu pure-menu-open">
<!--             <a class="pure-menu-heading" href="/">Title</a>
 -->
            <ul>
                <li><a href="#">All Posts <span class="email-count">{{{posts.length}}}</span></a></li>
                <li class="pure-menu-heading">Labels</li>
                <li><a href="#"><span class="email-label-work"></span>Unresolved</a></li>
                <li><a href="#"><span class="email-label-personal"></span>Open</a></li>
                <li><a href="#"><span class="email-label-travel"></span>Resolved</a></li>
            </ul>
            </div>
        </div>
    </div>

        {{{ body }}}

      </div>
    </div>

  </div>

<!--   <div id="footer">
    <a href="/">Home</a> <a href="/about">About</a>
  </div>
 -->
  </body>
</html>
